@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      @apply bg-black;
      scroll-behavior: smooth;
    }
    .z-2000 {
      z-index: 2000;
    } 
    .nav-items {
      max-height: 0px;
      overflow: hidden;
      transition: all 0.15s ease-out;
    }
    .nav-items.show {
      @apply border-t-2 border-yellow;
      max-height: 300px;
      transition: all 0.25s ease-in;
    }
    .hero-section{
      background-image: linear-gradient(0,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../images/my-w-w.jpg");
      background-position: center; 
      background-repeat: no-repeat;
    }
    .card-img {
      @apply rounded-2xl mx-auto;
    }
}